{% extends "base.html" %}
{% block content %}

<h1>MiniDoc with urls and request examples</h1>
<h2>URLs:</h2>
<h4>Register a new user:</h4>
    <p>{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.META.HTTP_HOST }}<span style="font-weight:bold">{% url 'users-api:register' %}</span></p>
<h4>Login user and get token:</h4>
    <p>{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.META.HTTP_HOST }}<span style="font-weight:bold">{% url 'token-api' %}</span></p> 
<h4>Get user's profile by his token:</h4>
    <p>{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.META.HTTP_HOST }}<span style="font-weight:bold">{% url 'users-api:users_profile' %}</span></p>
<h4>Create post by token:</h4>
    <p>{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.META.HTTP_HOST }}<span style="font-weight:bold">{% url 'posts-api:create' %}</span></p>
<h4>Get list of posts of user by his token:</h4>
    <p>{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.META.HTTP_HOST }}<span style="font-weight:bold">{% url 'posts-api:users_posts' %}</span></p>
<h4>Search for posts:</h4>
    <p>{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.META.HTTP_HOST }}<span style="font-weight:bold">{% url 'posts-api:api_list' %}?q=seach value</span></p>
    <p>You need specify a value for search</p>
    
<h2>Request examples:</h2> 
<h4>Register a new user:</h4>
    <p>curl -X POST {{ request.META.HTTP_HOST }}{% url 'users-api:register' %} -d "username=xxx&email=yyy@yyy&email2=yyy@yyy&password=zzz"</p>
    <p>where, </p>
    <p>xxx - username of creating user,</p>
    <p>yyy@yyy - email address of user; WARNING: email and email2 must be the same.</p>
    <p>zzz - password of creating user.</p>
    
<h4>Login user and get token:</h4>
    <p>curl -X POST {% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.META.HTTP_HOST }}{% url 'token-api' %} -d "username=xxx&password=zzz" </p>
    <p>where, </p>
    <p>xxx - username of creating user,</p>
    <p>zzz - password of creating user.</p>

<h4>Get user's profile by his token:</h4>
    <p>curl -X GET {% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.META.HTTP_HOST }}{% url 'users-api:users_profile' %} -H 'Authorization: JWT TTT'</p>
    <p>where, </p>
    <p>TTT - user's token received at "Login user and get token" step.</p>

<h4>Create post by token:</h4>
    curl -X POST {% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.META.HTTP_HOST }}{% url 'posts-api:create' %} -H "Authorization: JWT TTT" -H "Content-Type: application/json" -d '{"title":"aaa","content":"bbb","publish":"ccc"}'
    <p>where, </p>
    <p>TTT - user's token received at "Login user and get token" step.</p>
    <p>aaa - title of new post,</p>
    <p>bbb - content of new post,</p>
    <p>ccc - date of publishing in format YYYY-MM-DD</p>

<h4>Get list of posts of user by his token:</h4>
    <p>curl -X GET {% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.META.HTTP_HOST }}{% url 'posts-api:users_posts' %} -H 'Authorization: JWT TTT'</p>
    <p>where,</p>
    <p>TTT - user's token received at "Login user and get token" step.</p>

<h4>Get list of all post by token with pagination:</h4>
    <p>curl -X GET {% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.META.HTTP_HOST }}{% url 'posts-api:api_list' %} -H "Authorization: JWT TTT"</p>
    <p>where,</p>
    <p>TTT - user's token received at "Login user and get token" step.</p>

<h4>Search for posts:</h4>
    <p>curl -X GET {% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.META.HTTP_HOST }}{% url 'posts-api:api_list' %}?q=fff</p>
    <p>where,</p>
    <p>fff - criretia of seach, web-app looking throught titles, content, user, user's first name, user's last name</p>

{% endblock content %}